@import url("https://fonts.googleapis.com/css2?family=Habibi&family=Nunito:wght@200;300;500;600;700;800&display=swap");

:root {
  --dark-purple: #0e000c;
  --mid-purple: #36002e;
  --light-purple: #dd60ca;
}

* {
  margin: 0;
  padding: 0;
  /* font-family: "Habibi", serif; */
  /* font-family: "Nunito", sans-serif; */
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: border-box;
}


/*

BROWSER SCROLLBAR KITS 

*/

/* CHROME & SAFARI */


html::-webkit-scrollbar {
  width: 8px; 
}

html::-webkit-scrollbar-track {
background-color: transparent;
}

html::-webkit-scrollbar-thumb {
background: #fff;
border-radius: 8px;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
  background: #242424;
  border-radius: 10px;
}

/* MOZILLA FIREFOX */
html::-moz-scrollbar {
  width: 8px; 
}

html::-moz-scrollbar-track {
background-color: transparent;
}

html::-moz-scrollbar-thumb {
background: #fff;
border-radius: 8px;
}

html::-moz-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

html::-moz-scrollbar-thumb:active {
  background: #242424;
  border-radius: 10px;
}


/* MICROSOFT INTERNET EXPLORER */
html::-ms-scrollbar {
  width: 8px; 
}

html::-ms-scrollbar-track {
background-color: transparent;
}

html::-ms-scrollbar-thumb {
background: #fff;
border-radius: 8px;
}

html::-ms-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

html::-ms-scrollbar-thumb:active {
  background: #242424;
  border-radius: 10px;
}

/* OPERA */
html::-o-scrollbar {
  width: 8px; 
}

html::-o-scrollbar-track {
background-color: transparent;
}

html::-o-scrollbar-thumb {
background: #fff;
border-radius: 8px;
}

html::-o-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}

html::-o-scrollbar-thumb:active {
  background: #242424;
  border-radius: 10px;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
  background-color: var(--dark-purple);
  color: #fff;
  overflow: overlay;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif;
}

nav {
  position: relative;
  height: 160px;
}

li {
  list-style-type: none;
}

a {
  font-weight: 800;
  color: #fff;
  text-decoration: none;
  transition: all 300ms ease;
}

a:hover {
  color: var(--light-purple);
}

.container {
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.no-cursor {
  cursor: not-allowed;
}

/*

WAVES

*/

.wave {

  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {

  display: block;
  width: calc(100% + 1.3px);
  height: 268px;
}

.wave .shape-fill {
  fill: var(--mid-purple);
}


/*

NAVIGATION BAR

*/
.nav__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.nav__links {
  margin: 4px;
  padding: 4px 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  padding: 2px;
  font-size: 16px;
  transition: all 300ms ease;
}

.nav__link:hover {
  transform: scale(1.2);
}

.nav__link--outer {
  margin-top: 24px;
}

#peace {
  font-size: 48px;
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  border: none;
  color: var(--mid-purple);
  display: none;
  transition: all 300ms ease;
}

.btn__menu:hover{
  transform: scale(1.1);
  color: var(--light-purple);
}

.menu__backdrop {
  position: absolute;
  background-color: #333;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
}

.menu--open {
  max-height: 100vh;
  overflow: hidden;
  transition: all 300ms ease;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 40px;
}

.menu__link:hover {
  color: #ff4bed;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: white;
  transition: all 300ms ease;
}

.btn__menu--close:hover {
  transform: scale(1.2);
  color: #ff4bed;
}


/*

HERO SECTION

*/
#hero {
  display: flex;
  justify-content: center;
}

/* .shadow {
  display:block;
  position:relative;
}

.shadow:before {
  display:block;
  content:'';
  position:absolute;
  width:100%;
  height:100%;
  -moz-box-shadow:inset 0px 0px 3px 1px #36002e;
  -webkit-box-shadow:inset 0px 0px 3px 1px #36002e;
  box-shadow:inset 0px 0px 3px 1px #36002e;
} */

#hero__img {
  position: absolute;
  box-shadow: 0px 0px 25px 30px var(--mid-purple);
}

.hero__header {
  position: absolute;
  font-size: 80px;
  font-family: "Habibi", serif;
  margin-top: 112px;
  text-align: center;
  transition: all 300ms ease;
}

.hero__header:hover {
  color: var(--mid-purple);
  transform: scale(1.05);
}


/*

SECTION GENERIC

*/
.title {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 64px;
}

.para {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 24px;
  padding: 4px 32px;
}

.sub__text {
  font-size: 16px;
  font-weight: 700;
}


/*

INTRODUCTION

*/
#intro {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 900px;
}


/*

EXPLORE

*/
#explore {
  background-color: var(--mid-purple);
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book__list, .journal__options {
  width: 100%;
  margin: 104px 0 48px 0;
  display: flex;
  justify-content: space-around;
}

.book__list {
  padding: 48px 24px;
  background-color: var(--dark-purple);
  border-radius: 16px;
}

.book {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
}

.book__wrapper {
  margin: 0 40px;
}

.book__img {
  box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.699);
  transition: all 300ms ease;
}

.book__img:hover {
  transform: scale(1.1);
}

.qoutes__wrapper {
  width: 100%;
  margin: 72px auto;
  padding: 16px 32px;
  display: flex;
  align-items: start;
}

.qoute__wrapper {
  width: 50%;
  min-height: 240px;
  margin: 8px;
  padding: 16px;
  background-color: #0e000ca9;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person {
  margin-bottom: 24px;
  padding: 0 40px;
  display: flex;
  align-items: center;
}

.person__name {
  margin-left: 32px;
  font-size: 32px;
  font-weight: 700;
  text-align: start;
}

.qoute {
  padding: 0 96px;
}


/*

JOURNAL

*/
#journal {
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.journal__options {
  display: flex;
  align-items: center;
}

.journal__option {
  width: 305px;
  height: 365px;
  margin: 8px 40px;
  color: rgb(255, 255, 255 / 0.85);
}

/* Card Hover Animation */
.journal__option {
  color: var(--mid-purple);
  background-image: url(./Assets/self-journal.png);
  background-size: cover;
  padding: 9rem 0 0;
  max-width: 35ch;
  border-radius: 0.5rem;
  color: var(--mid-purple);
  color: #fff;
  text-shadow: 2px 1.5px 4px #000000;
  box-shadow: 2px 5px 5px 5px rgba(255, 255, 255, 0.11);
  overflow: hidden;
  transition: all 300ms ease;
}

.journal__option-two {
  background-image: url(./Assets/community-6.png);
}

.journal__option:hover,
.journal__option:focus-within {
  transform: scale(1.08);
}

.journal__option--content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0, 0%, 50% / 0),
    hsl(0, 0%, 0% / 0.2) 10%,
    hsl(0, 0%, 0% / 1)
  );
  display: flex;
  flex-direction: column;
  align-items: start;
}

@media (hover) {
  .journal__option--content {
    transform: translateY(65%);
    transition: 300ms;
  }

  .journal__option:hover .journal__option--content,
  .journal__option:focus-within .journal__option--content {
    transform: translateY(0);
    transition-delay: 300ms;
  }

  .journal__option:focus-within .journal__option--content {
    transition-duration: 0ms;
  }

  .journal__option--content > *:not(.journal__option--title) {
    opacity: 0;
    transition: opacity 300ms linear;
  }

  .journal__option:hover .journal__option--content > *:not(.journal__option--title),
  .journal__option:focus-within .journal__option--content > *:not(.journal__option--title) {
    opacity: 1;
    transition-delay: 500ms;
  }

  .journal__option--title::after {
    transform: scaleX(0);
  }
}

.journal__option--title {
  position: relative;
  width: max-content;
  font-weight: 900;
  margin-bottom: 0.5em;
}

.journal__option--title::after {
  content: "";
  position: absolute;
  height: 4px;
  width: calc(100% + var(--padding));
  left: calc(var(--padding) * -1);
  bottom: -2px;
  background-color: var(--light-purple);
  transition: 600ms;
  transform-origin: left;
}

.journal__option:hover .journal__option--title::after,
.journal__option:focus-within .journal__option--title::after {
  transform: scaleX(1);
}

.journal__option--para {
  font-weight: 800;
  text-align: start;
  margin-bottom: 0.8em;
}

.journal__option--btn {
  display: inline-block;
  background-color: var(--mid-purple);
  padding: 0.5em 1.25em;
  border-radius: 0.25rem;
  text-shadow: none;
  transition: 600ms;
}

.journal__option--btn:hover, 
.journal__option--btn:focus {
  color: var(--mid-purple);
  background-color: var(--light-purple);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
      animation-duration: 0.01ms
      !important;
      animation-iteration-count: 1
      !important;
      transition-duration: 0.01ms
      !important;
      scroll-behavior: auto
      !important;
      transition-delay: 0ms
      !important;
  }
}



/*

FOOTER

*/
#footer {
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: end;
  justify-content: center;
}

#footer__img {
  box-shadow: 0px 0px 25px 30px var(--mid-purple);
}

.footer__qoute {
  position: absolute;
  bottom: 40%;
  left: 8%;
  font-size: 24px;
  font-family: 'Habibi', serif;
  font-weight: 600;
  color: #242424;
  padding: 4px 8px;
}

.footer__content {
  position: absolute;
  font-weight: 900;
  color: #fff;
  margin-bottom: 32px;
  display: flex;
}

.footer__links {
  display: flex;
}

.footer__link {
  margin: 0 32px;
}

.footer__link--anchor {
  color: #fff;
}


/*

RESPONSIVENESS

*/
/* Large Resolutions */
@media(min-width: 1440px) {
  #hero__img {
    width: 100%;
    max-height: 1000px;
  }

  #footer__img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
}

/* 3 : 2 Laptops & Small Sized Computers*/
@media(max-width: 900px) {
  .row {
    max-width: 820px;
  }

  .nav__container {
    max-width: 800px;
  }

  .qoute__wrapper {
    min-height: 318px;
  }

  .person__name {
    margin-left: 32px;
    font-size: 32px;
  }

  .qoute {
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto;
    width: 33ch;
  }

  .footer__content {
    max-width: 900px;
  }

  .copyright, .footer__link {
    font-size: 16px;
    font-weight: 500;
  }

  .footer__link {
    font-weight: 600;
    margin: 0 24px;
  }
}

@media(max-width: 768px) {
  .row {
    max-width: 732px;
  }

  .nav__container {
    max-width: 750px;
  }

  .qoute__wrapper {
    min-height: 318px;
  }

  .person__name {
    margin-left: 32px;
    font-size: 32px;
  }

  .qoute {
    font-size: 16px;
    font-weight: 600;
    margin: 0 auto;
    width: 33ch;
  }

  .footer__content {
    max-width: 900px;
  }

  .copyright, .footer__link {
    font-size: 16px;
    font-weight: 500;
  }

  .footer__link {
    font-weight: 600;
    margin: 0 24px;
  }
}

/* Tablets & Large Smart Phones */
@media(max-width: 600px) {
  #nav__underbar, .nav__container, .footer__content--separator, .footer__links {
    display: none;
  }

  nav {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .nav__container--mobile {
    max-width: 500px;
    padding: 8px 16px;
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .btn__menu {
    display: block;
  }

  .nav__links {
    display: none;
  }

  .row {
    max-width: 450px;
  }

  .title {
    font-size: 32px;
  }

  .para {
    font-size: 16px;
  }

  .book__list {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .book {
    margin: 24px 0;
  }

  .book__wrapper {
    margin: 0;
    padding: 0;
  }

  .qoutes__wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .qoute__wrapper {
    width: 100%;
    margin: 32px 0 16px;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .person {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .person__name {
    width: max-content;
  }
  
  .qoute {
    width: 100%;
    padding: 4px 48px;
  }

  .journal__options {
    display: flex;
    flex-direction: column;
  }

  .journal__option {
    margin-bottom: 64px;
  }

  .footer__qoute {
    bottom: 45%;
    left: 4%;
    font-size: 16px;
  }
}

/* Small Phones */
@media(max-width: 468px) {
  .row {
    max-width: 400px;
  }

  .hero__header {
    font-size: 56px;
  }

  .para {
    padding: 0 8px;
  }

  .person {
    display: flex;
    flex-direction: column;
  }

  .person__name {
    margin: 8px 0;
  }

  .footer__qoute {
    font-size: 24px;
    color: #fff;
    left: 15%;
    bottom: 35%;
  }
}

/* Iphones XR & Above */
@media(max-width: 414px) {
  .footer__qoute {
    left: 10%;
  }
}

/* Narrow Phones */
@media(max-width: 324px) {
  * {
    margin: 0;
    padding: 0;
  }

  .row {
    max-width: 280px;
    margin: 0 auto;
  }

  .book__list {
    padding: 48px 120px 24px 0;
  }

  .journal__options {
    margin: 104px 0;
    padding: 8px 0;
  }

  .journal__option {
    width: 275px;
    margin: 32px 0;
    padding: 40px;
  }

  .footer__qoute {
    font-size: 16px;
    bottom: 38%;
  }

  /* Card Hover Animation */
  .journal__option {
    padding: 8rem 0 0;
  }
}
